REDIS_URL=redis://127.0.0.1:6379

# REDIS_PREFIX=y # by default "y:" is prepended to all used redis keys
### y-redis server component
# PORT=3002 # The port that is used for listening for websocket connections

### Storage provider
## Either pg  or memory, others not implemented at the moment
DATABASE_URL=postgres://yredis:@localhost:5432/yredis

### Expert configurations
## For debugging purposes and expert use.
## Changing these variables can be very dangerous. The default is carefully
## chosen. Be sure that you know what you are doing!
##
## Redis messages exist for at least one minute on the redis stream
# REDIS_MIN_MESSAGE_LIFETIME=60000
## After this timeout, a worker will pick up a task and clean up a stream.
# REDIS_TASK_DEBOUNCE=10000